* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

html{
    display:flex;
    justify-content: center;
}

body{
    width: 1300px;
    height: 100%;
    border:2px solid red;
}

#areaRoof{
    border-bottom: 0.5px solid gray;
    display: flex;
    justify-content: flex-end;
    font-size: 1.2rem;
}

#areaLogo{
    margin: 0;
    border-bottom: 2px solid #af242c;
    font-size: 4rem;
    font-weight: bold;
}

#areaThemes{
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 0.5px solid gray;
}

#mainArticle{
    /* border: 2px solid blue; */
    /* position: relative; */
    width: 900px;
    height: 600px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

#mainArticleLink{
    display: flex;
    flex-direction: column;
}

#mainPicture{
    /* border: 2px solid orange; */
    width: 100%;
    height: 400px;
}

img{
    width: 100%;
    height: 100%;
}

#mainArticleTitle{
    font-weight: bold;
    padding: 10px;
    font-size: 1.8rem;
}

#mainArticleContent{
    padding: 10px;
    font-size: 1.5rem;
}

#article{
    width: 900px;

}

#picture{
    margin: 30px;
    /* margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px; */
}

#content{
    font-size: 1.5rem;
    font-weight: 100;
}

#articleTitle{
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
}

#date{
    text-align: right;
}