* {
    box-sizing: border-box;
}

html,head, body, header,h1, article{
    border: 2px solid black;
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body{
    border: 2px solid green;
    position: relative;
}

header{
    position: relative;
    display: flex;
    justify-content: center;
    height: 15%;
    margin-top: 5%;
}

h1{
    height: 70%;
    font-size: 4rem;
}

article{
    display: flex;
    justify-content: center;
}

.displayNone{
    display: none;
}

#loginContainer,
#signUpContainer {
    border: 2px solid red;
    width: 30%;
    margin-top: 5%;
    height: 500px;
    display: flex;
    flex-direction: column;
}

#inputID,
#inputPwd,
#loginBtn,
#signUpBtn{
    width: 100%;
    height: 20%;
    border-top-right-radius: 27px;
    border-bottom-right-radius: 27px;
    border-top-left-radius: 27px;
    border-bottom-left-radius: 27px;
    text-align: center;
}

p{
    border: 2px solid purple;
    width: 100%;
    height: 10%;
    margin: 0;
}

#inputNewID,
#identification,
#inputNewPwd,
#confirmPassword,
#createID,
#backToLogin{
    width: 100%;
    height: 15%;
    border-top-right-radius: 27px;
    border-bottom-right-radius: 27px;
    border-top-left-radius: 27px;
    border-bottom-left-radius: 27px;
    text-align: center;
}