doctype html
html
  head
    title= 'Circus News'
    link(rel='stylesheet', href='/stylesheets/homepage.css')
  body
    header
        div(id='areaRoof')
            a(href='http://localhost:3000/loginPage' role='button')
                div(id='goLogin') 로그인
        div(id='areaLogo')    
            h1 Circus News
