doctype html
html
  head
    title= 'Circus News'
    link(rel='stylesheet', href='/stylesheets/homepage.css')
  body
    header
        div(id='areaRoof')
          if user
            a(href='http://localhost:3000/user' role='button')
              div 마이페이지
            a(href='http://localhost:3000/auth/logout')
              div 로그아웃
          else
            a(href='http://localhost:3000/loginPage' role='button')
                div(id='goLogin') 로그인
        div(id='areaLogo')    
          h1 Circus News
    block content
