extends homePageRoof

block content
    article
        a(href="http://localhost:3000/user")
            img(src="https://news-site-circus.s3.ap-northeast-2.amazonaws.com/bavaria-4289779_1920.jpg_1566650974472")
            span asdf