extends homePageRoof

block content
    article
        div(id="mainArticle")
            a(href="http://localhost:3000/user" id="mainArticleLink")
                div(id="mainPicture")
                    img(src="https://news-site-circus.s3.ap-northeast-2.amazonaws.com/bavaria-4289779_1920.jpg_1566650974472")
                span(id="mainArticleTitle") 메인기사 제목
                span(id="mainArticleContent") 메인기사 내용 메인기사 내용 메인기사 내용 메인기사 내용 메인기사 내용 메인기사 내용 메인기사 내용 메인기사 내용 메인기사 내용 메인기사 내용 메인기사 내용 메인기사 내용 메인기사 내용 메인기사 내용 메인기사 내용 