doctype html
html
  head
    title= 'Circus News'
    link(rel='stylesheet', href='/stylesheets/homepage.css')
  body
    header
        div(id='areaRoof')
<<<<<<< HEAD
          a(href='http://localhost:3000/user' role='button')
            div #{user.displayName}님
          a(href='http://localhost:3000/auth/logout')
=======
          a(href='http://localhost:3000/users/info' role='button')
            div #{user.id}님
          a(href='http://localhost:3000/users/logout')
>>>>>>> Circus 뉴스사이트 로컬로그인 구현 (#27)
            div 로그아웃
        div(id='areaLogo')    
          h1 Circus News
