extends sign

block content
    form(id="loginContainer" action='/users/login', method='post')
        input(type="text" name="inputID" id="inputID" placeholder="아이디")
        p(id="noteID")
        input(type="password" name="inputPwd" id="inputPwd" placeholder="비밀번호")
        p(id="notePwd")
        input(type="submit" id="loginBtn" value="로그인")
        p(id="noteLogin")
        a(id='signUpBtn' href='http://localhost:3000/signup' role='button')
            div 회원가입
    form(action='/users/google', method='get')
        input(type="submit" value="google")