extends sign

block content
<<<<<<< HEAD
    form(id="loginContainer" action='/auth/login', method='post')
=======
    form(id="loginContainer" action='/users/login', method='post')
>>>>>>> Circus 뉴스사이트 로컬로그인 구현 (#27)
        input(type="text" name="inputID" id="inputID" placeholder="아이디")
        p(id="noteID")
        input(type="password" name="inputPwd" id="inputPwd" placeholder="비밀번호")
        p(id="notePwd")
        input(type="submit" id="loginBtn" value="로그인")
<<<<<<< HEAD
        p(id="noteLogin") #{note}
        a(id='signUpBtn' href='http://localhost:3000/signup' role='button')
            div 회원가입
    form(action='/auth/google', method='get')
        input(type="submit" value="google")
=======
        p(id="noteLogin")
        a(id='signUpBtn' href='http://localhost:3000/signup' role='button')
            div 회원가입
>>>>>>> Circus 뉴스사이트 로컬로그인 구현 (#27)
