doctype html
html
    head
        link(rel='stylesheet', href='/stylesheets/sign.css')
        title News Site
    body
        header
            h1 Circus News
        article
            block content