extends sign

block content
    div(id="signUpContainer")
        input(type="text" id="inputNewID" placeholder="아이디")
<<<<<<< HEAD
        input(type="text" id="inputNickname" placeholder="닉네임")
        p(id="noteID")
        input(type="submit" id="identification" value="중복체크")
=======
        p(id="noteID")
        input(type="submit" id="identification" value="ID중복확인")
>>>>>>> Circus 뉴스사이트 로컬로그인 구현 (#27)
        input(type="password" id="inputNewPwd" placeholder="비밀번호")
        input(type="password" id="confirmPassword" placeholder="비밀번호 확인")
        p(id="notePwd")
        input(type="submit" id="createID" value="계정생성")
        a(id='backToLogin' href='http://localhost:3000/loginPage' role='button')
            div 로그인하러가기
    script(src="/javascripts/signup.js")