doctype html
html
  head
    title= 'Circus News'
    link(rel='stylesheet', href='/stylesheets/homepage.css')
  body
    header
        div(id='areaRoof')
          a(href='http://localhost:3000/user' role='button')
            div #{user.displayName}님
          a(href='http://localhost:3000/auth/logout')
            div 로그아웃
        div(id='areaLogo')    
          h1 Circus News
    article
        form(id="newText" action='/text/write', method='post' enctype="multipart/form-data")
            table
                tr
                    th 제목
                    td
                        input(type="text" name="title" id="title" placeholder="제목")
                tr
                    th 테마
                    td 
                      select(name="thema")
                        option(value="정치") 정치
                        option(value="경제") 경제
                        option(value="IT") IT
                        option(value="생활") 생활
                        option(value="해외") 해외
                tr
                    th 이미지파일
                    td
                        input(type="file" name="image")
                tr
                    th 내용
                    td
                        textarea(cols=10 name="content" placeholder="내용" )
                tr
                    td
                        input(type="button" id="cancel" value="취소")
                        input(type="submit" value="저장")